#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}


.gallery {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    height: 90%;

}

.slide {
    background: rgb(150, 150, 150);
    margin: 10px;
    position: relative;
    min-width: 90%;
    min-height: 80%;
    border-radius: 10px;
    scroll-snap-align: center;
}

html {
  scroll-behavior: smooth;
}

.vh-15 {
    height: 15vh
}